<!DOCTYPE html>
<html>
    <%- include("header") %>
    <body class="pushable">
        <%- include("mobile-menu", {active: active}) %>
        <div class="pusher back-layer">
            <%- include("mobile-menu-access") %>
            <%- include("desktop-menu", {active: active}) %>
            <div class="stories">
                <div><h3><%= title %></h3></div>
                <div class="ui divider"></div>
                <%- include("list") %>
            </div>
        </div>
        <%- include("scripts") %>
    </body>
</html>
