<div class="ui segment orange nobottomgap">
    <div class="ui top right floated pointing dropdown icon button">
      <i class="options icon"></i>
      <div class="menu">
        <div class="header">
          Settings
        </div>
        <div class="header">
          <i class="paint brush icon"></i>
          Theme
        </div>
        <div class="item" id="regular">
          <div class="ui orange empty label"></div>
          Regular
        </div>
        <div class="item" id="night">
          <div class="ui black empty label"></div>
          Night Mode
        </div>
      </div>
    </div>
    <h1>hacka-news</h1>
</div>
<div class="five ui pointing menu item">
    <a href="hot" class="item <% if (active == "hot") { %> <%- "active"; %> <% } %>">Hot</a>
    <a href="new" class="item <% if (active == "new") { %> <%- "active"; %> <% } %>">New</a>
    <a href="ask" class="item <% if (active == "ask") { %> <%- "active"; %> <% } %>">Ask</a>
    <a href="show" class="item <% if (active == "show") { %> <%- "active"; %> <% } %>">Show</a>
    <a href="jobs" class="item <% if (active == "jobs") { %> <%- "active"; %> <% } %>">Jobs</a>
</div>
<script src="js/header.bundle.js"></script>
<script src="lib/jquery.cookie-1.4.1.min.js"></script>
